.card {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 3rem;
  opacity: 0px;
  background-color: #ffffff;
}
.searchIcon {
  margin-left: 1rem;
}
.inputType {
  margin: 0.5rem;

  border-radius: 21px;
  opacity: 0px;
  background-color: #ffffff;
  outline: 0px solid #ffffff;
  border: 0px solid none;
}
